/* CSS by Jonathan Daniel */
/* COLOR PALETTE
Background 01 = #1E1E1E
Background (Secondary) = #222222
Card Background = #2B2B2B

ACCENTS
Main = #FF8D03
Secondary = #FFCF7A

TEXT
Main = #F2F2F2
Soft = #BABABA
Softer = #888888
*/

/* GLOBAL STYLES (Base Styles) MOBILE FIRST */
body {
    background-color: #1E1E1E;
    color: #F2F2F2;
    font-family: sans-serif;
    margin: 0;
}

.logo {
    height: 200px;
    margin-bottom: 1rem;
}

.project-grid-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.section-heading {
    flex: 1;
    flex-shrink: 1;
}