/* CSS by Jonathan Daniel */
/* COLOR PALETTE
Background 01 = #1E1E1E
Background (Secondary) = #222222
Card Background = #2B2B2B

ACCENTS
Main = #FF8D03
Secondary = #FFCF7A

TEXT
Main = #F2F2F2
Soft = #BABABA
Softer = #888888
*/

/* GLOBAL STYLES (Base Styles) MOBILE FIRST */
body {
    background-color: #1E1E1E;
    color: #f2f2f2;
    font-family: sans-serif;
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1E1E1E;
    background-image: url('img/studio-bg-dark.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 1rem;
}

nav a {
    color: #f2f2f2;
    background-color: #FF8D03;
    text-decoration: none;
    border-radius: 3px;
    padding: .5rem;
}

nav a:hover {
    background-color: #f2f2f2;
    color: #FF8D03;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
    list-style: none;
}

.logo {
    height: 200px;
    margin-bottom: 1rem;
}

.skills-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 20px;
}

.section-header {
    background-color: #222222;
    color: #f2f2f2;
    margin: 20px;
    text-align: center;
}

.section-heading {
    flex: 1;
    flex-shrink: 1;
}

.hero-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2B2B2B;
    padding: 1.5rem;
    margin-top: 0;
    justify-content: space-between;
}

.section-heading h2 {
    margin: 30px;
}

.section-heading p {
    font-size: 1rem;
    margin: 30px;
}

.section-border {
    border-top: 1px solid #FF8D03;
    border-bottom: 1px solid #FF8D03;
}

.hero-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 7px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #2b2b2b;
    color: #F2F2F2;
    padding: 15px;
    align-items: center;
    min-height: 200px;
    border: 1px solid #FF8D03;
    margin: 0 auto;
    border-radius: 7px;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.card-image {
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 7px;
    object-fit: cover;
}

.card p {
    width: 100%;
    max-width: 300px;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 1rem;
}

h3 {
    color: #FF8D03;
}

footer {
    padding: 1rem;
    background-color: #2b2b2b;
    border-top: 1px solid #FF8D03;
}

.footer-content {
    display: flex;
}

@media screen and (max-width:768px){
    .hero-container {
        flex-direction: column;
        text-align: center;
    }
}